@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-breathe {
  animation: breathe 1s infinite;
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

* {
  font-family: 'Segoe UI', 'San Francisco', 'Helvetica Neue', 'Arial', sans-serif;
}